@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F2F7;
  color: #1C1C1E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* Custom Scrollbar - Minimalist */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}